{% extends 'admin/layout.html.twig' %}
{% block main %}
    <h1 style="text-align: center">Country list</h1>
    {#There are two kinds of delimiters: {% ... %} and {{ ... }}. The first one is used to execute statements such as for-loops, the latter prints the result of an expression to the template.#}

    {{ form_start(country) }}
    {{ form_widget(country) }}
    <div><input class="btn btn-default btn-sm" title="Send country form" value="Add" type="submit"></div>
    {{ form_end(country) }}
    <table class="table">
        <tr>
            <th>Country name</th>
        </tr>
        {% for row in records %}
            <tr>
                <td>{{ row.Ctr_Name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}