{% extends 'admin/layout.html.twig' %}
    {#{{ parent() }}#}
    {% block main %}
        <h1 style="text-align: center">Data Editor</h1>
        {{ form_start(form) }}

        {{ form_row(form.firstName) }}
        {#<table class="table">#}
            {#<tr>#}
                {#<th>First Name</th>#}
                {#<th>Second Name</th>#}
                {#<th>Middle Name</th>#}
            {#</tr>#}
            <tr>
                <td style="color: #9b4bc5">First Name</td>
                {#<th>{{ firstName }}</th>#}
            </tr>
        </table>
        {{ form_end(form) }}
    {% endblock %}