{% extends 'admin/layout.html.twig' %}
{% block main %}
    <h1 style="text-align: center">Adding a new photo</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div><input class="btn btn-default btn-sm" title="Send feedback form" value="Send" type="submit"></div>
    {{ form_end(form) }}
{% endblock %}