{% extends 'admin/layout.html.twig' %}
{% block main %}
    <h1 style="text-align: center">User's social page</h1>
    {#There are two kinds of delimiters: {% ... %} and {{ ... }}. The first one is used to execute statements such as for-loops, the latter prints the result of an expression to the template.#}
    <a href="{{ path('social_page_create') }}" class="btn btn-success">Add</a>
    <div class="table-responsive">
        <table class="table table-bordered" width="100%">
            <tr>
                <th>First Name</th>
                <th>last Name</th>
                <th>Middle Name</th>
                <th>Birthday</th>
                <th>Country</th>
                <th>City</th>
                <th>Sex</th>
                <th>Pets</th>
                <th>Hobby</th>
                <th>Children</th>
                <th>Avatar</th>
                <th>About you</th>
                <th>Set a status</th>
                <th>Your Favorite Song</th>
                <th>Your Favorite Films</th>
                <th>Friend list</th>
            </tr>

            {% for row in records %}
                {% set PETS = constant('PETS', row) %}
                <tr>
                    <td>{{ row.firstName }}</td>
                    <td>{{ row.lastName }}</td>
                    <td>{{ row.middleName }}</td>
                    <td>{{ row.birthDate|date }}</td>
                    <td>{{ row.country }}</td>
                    <td>{{ row.city }}</td>
                    <td>{{ row.sex }} </td>
                    <td>{{ PETS[row.pet] }}</td>
                    <td>{{ row.hobby }}</td>
                    <td>
                        {% if row.children == 1 %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>{{ row.avatar }}</td>
                    <td>{{ row.aboutMe }}</td>
                    <td>{{ row.statusMessage }}</td>
                    <td>{{ row.yourFavoriteSong }}</td>
                    <td>{{ row.yourFavoriteFilms }}</td>
                    <td>{{ row.friends }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}