{% extends 'admin/layout.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/tableView.css') }}">
    {% endblock %}
        {% block main %}
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{ asset('pics/' ~ socialPage.avatar) }}" width="150" height="161"/>
                    <a class="btn btn-default" href="{{ path('social_page_edit', {'socialPage':socialPage.id}) }}"
                       role="button">Edit</a>
                </div>
                <div class="col-sm-9">
                    <div class="personal-info">
                        <h1>View single</h1>
                        <table class="table table-responsive">

                            <tr>
                                <td style="color: #9b4bc5">First Name</td>
                                <th style="color: #9b4bc5">{{ socialPage.firstName }}</th>
                            </tr>
                            <tr>
                                <td style="color: #9b4bc5">Last Name</td>
                                <th style="color: #9b4bc5">{{ socialPage.lastName }}</th>
                            </tr>
                            <tr>
                                <td style="color: #9b4bc5">Middle Name</td>
                                <th style="color: #9b4bc5">{{ socialPage.middleName }}</th>
                            </tr>
                            <tr>
                                <td></td>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Birth date</td>
                                <th>{{ socialPage.birthDate|date }}</th>
                            </tr>

                            <tr>
                                <td>Smth about u</td>
                                <th>{{ socialPage.aboutMe }}</th>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <th>{{ socialPage.country }}</th>
                            </tr>
                            <tr>
                                <td>City</td>
                                <th>{{ socialPage.city }}</th>
                            </tr>
                            <tr>
                                <td>Do u've children</td>
                                <th>{{ socialPage.children }}</th>
                            </tr>
                            <tr>
                                <td>Pets</td>
                                <th>
                                    {#{{  }}#}
                                </th>
                            </tr>
                            <tr>
                                <td>Sex</td>
                                <th>{% if socialPage.sex == 1 %}
                                        Male
                                    {% else %}
                                        Female
                                    {% endif %}
                                    {{ socialPage.sex }} </th>


                            </tr>

                            {#<tr style="align-content: center">#}

                            {#<td><img src="{{ asset('pics/a78081884098de39bd0134132c0c7f99.jpg')}}"/></td>#}
                            {#<td><img src="/pics/a78081884098de39bd0134132c0c7f99.jpeg"></td>#}
                        </table>
                    </div>
                </div>
            </div>
        {% endblock %}