h1 {
    margin-bottom: 60px;
    color: #1e1b9c;
    font-family: "Buxton Sketch";
    font-size: 55px;
    text-transform: capitalize;
}

h2 {
    margin-bottom: 20px;
    color: #10167e;
    font-family: "Buxton Sketch";
    font-size: 40px;
    text-transform: capitalize;
}

img {
    margin: 0 auto;
    display: block;
    margin-top: 128px;
    margin-left: 172px;
}

tr, td {
    align-content: center;
    margin-bottom: 200px;
    height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #aa88ee;
    border: medium #25e6b8;
    font-family: "Buxton Sketch";
    font-size: 30px;
}

.btn {

    margin: 15px auto;
    /*display: block;*/
    background-color: #9b4bc5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Buxton Sketch";
    border-radius: 15px;
    margin-top: 9px;
    margin-left: 211px;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #bf34db;
    border-color: #74898a;
}