{% extends 'admin/layout.html.twig' %}
{% block main %}
    <h1 style="text-align: center">Questionnaire</h1>
    {#There are two kinds of delimiters: {% ... %} and {{ ... }}. The first one is used to execute statements such as for-loops, the latter prints the result of an expression to the template.#}

    {{ form_start(interview) }}
    {{ form_widget(interview) }}
    <div><input class="btn btn-default btn-sm" title="Send feedback form" value="Sens" type="submit"></div>
    {{ form_end(interview) }}
    <table class="table">
        <tr>
            <th>Full Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Experience</th>
        </tr>

        {% for row in records %}
            <tr>
                <td>{{ row.fullname }}</td>
                <td>{{ row.age}}</td>
                <td>
            {% if row.sex == 1 %}
                Male
                {% else %}
                Female
                {% endif %}
                </td>
                <td>{{ row.experience}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}