{% extends 'admin/layout.html.twig' %}
{% block main %}
    <h1 style="text-align: center">Error page</h1>
    {#There are two kinds of delimiters: {% ... %} and {{ ... }}. The first one is used to execute statements such as for-loops, the latter prints the result of an expression to the template.#}

    {{ form_start(feedback) }}
    {{ form_widget(feedback) }}
    <div><input class="btn btn-default btn-sm" title="Send feedback form" value="Add" type="submit"></div>
    {{ form_end(feedback) }}
    <table class="table">
        <tr>
            <th>Subject</th>
            <th>Description</th>
        </tr>

        {% for row in records %}
            <tr>
                <td>{{ row.topic }}</td>
                <td>{{ row.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}